@import 'tailwindcss';
@import '@nuxt/ui';

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  width: var(--container-width);
  margin-inline: auto;
  max-width: none;
}

@utility auth-container {
  width: min(var(--container-sm), 100% - 2 * var(--container-pad));
  margin-inline: auto;
}

@theme {
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --container-pad: --spacing(10);
  --header-height: --spacing(20);
  --height-full-except-header: calc(100dvh - var(--header-height));

  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1920px;

  --container-4xs: 14rem; /* 224px */
  --container-5xs: 12rem; /* 192px */ 
  --container-6xs: 10rem; /* 160px */

  --container-width: min(var(--breakpoint-3xl), 100vw - 2 * var(--container-pad));

  --_text-screen-min: 360px;
  --_text-screen-min-num: 360;
  --_text-screen-max-num: 1920;

  /* heading */
  --text-heading-min: 24px;
  --text-heading-max: 36px;
  --text-heading-min-num: 24;
  --text-heading-max-num: 36;
  --_text-heading-diff: calc(var(--text-heading-max-num) - var(--text-heading-min-num));
  --text-heading: clamp(
    var(--text-heading-min),
    calc(var(--text-heading-min) + var(--_text-heading-diff) * ((100vw - var(--_text-screen-min)) / (var(--_text-screen-max-num) - var(--_text-screen-min-num)))),
    var(--text-heading-max)
  );
  --text-heading--line-height: 1.1;
  --text-heading--font-weight: 500;

  /* subheading */
  --text-subheading-min: 20px;
  --text-subheading-max: 28px;
  --text-subheading-min-num: 20;
  --text-subheading-max-num: 28;
  --_text-subheading-diff: calc(var(--text-subheading-max-num) - var(--text-subheading-min-num)); 
  --text-subheading: clamp(
    var(--text-subheading-min),
    calc(var(--text-subheading-min) + var(--_text-subheading-diff) * ((100vw - var(--_text-screen-min)) / (var(--_text-screen-max-num) - var(--_text-screen-min-num)))),
    var(--text-subheading-max)
  );
  --text-subheading--line-height: 1.2;
  --text-subheading--font-weight: 500;

  /* base */
  --text-base-min: 16px;
  --text-base-max: 20px;
  --text-base-min-num: 16;
  --text-base-max-num: 20;
  --_text-base-diff: calc(var(--text-base-max-num) - var(--text-base-min-num)); 
  --text-base: clamp(
    var(--text-base-min),
    calc(var(--text-base-min) + var(--_text-base-diff) * ((100vw - var(--_text-screen-min)) / (var(--_text-screen-max-num) - var(--_text-screen-min-num)))),
    var(--text-base-max)
  );
  --text-base--line-height: 1.5;

  --text-sm: clamp(14px, calc(14px + 2 * ((100vw - 360px) / 1560)), 16px);
  --text-sm--line-height: var(--text-base--line-height);

  /* sm */
  --text-sm-min: 14px;
  --text-sm-max: 17px;
  --text-sm-min-num: 14;
  --text-sm-max-num: 16;
  --_text-sm-diff: calc(var(--text-sm-max-num) - var(--text-sm-min-num)); 
  --text-sm: clamp(
    var(--text-sm-min),
    calc(var(--text-sm-min) + var(--_text-sm-diff) * ((100vw - var(--_text-screen-min)) / (var(--_text-screen-max-num) - var(--_text-screen-min-num)))),
    var(--text-sm-max)
  );
  --text-sm--line-height: 1.5;

  /* xs */
  --text-xs-min: 12px;
  --text-xs-max: 14px;
  --text-xs-min-num: 12;
  --text-xs-max-num: 14;
  --_text-xs-diff: calc(var(--text-xs-max-num) - var(--text-xs-min-num));
  --text-xs: clamp(
    var(--text-xs-min),
    calc(var(--text-xs-min) + var(--_text-xs-diff) * ((100vw - var(--_text-screen-min)) / (var(--_text-screen-max-num) - var(--_text-screen-min-num)))),
    var(--text-xs-max)
  );
  --text-xs--line-height: 1.5;

  /* 2xs */
  --text-2xs-min: 10px;
  --text-2xs-max: 12px;
  --text-2xs-min-num: 10;
  --text-2xs-max-num: 12;
  --_text-2xs-diff: calc(var(--text-2xs-max-num) - var(--text-2xs-min-num));
  --text-2xs: clamp(
    var(--text-2xs-min),
    calc(var(--text-2xs-min) + var(--_text-2xs-diff) * ((100vw - var(--_text-screen-min)) / (var(--_text-screen-max-num) - var(--_text-screen-min-num)))),
    var(--text-2xs-max)
  );
  --text-2xs--line-height: 1.5;

  --transition-duration-fast: 0.2s;
  --transition-duration-base: 0.3s;
  --transition-duration-slow: 0.5s;
  /* --margin-container-pad: var(--container-pad); */
  /* --padding-container-pad: var(--container-pad); */
  --color-primary: var(--ui-color-primary-500);

  
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  /* --ui-primary: var(--ui-color-primary-500); */
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-700);
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-highlighted: var(--ui-color-neutral-950);
  --ui-text-inverted: var(--color-white);

  @variant dark {
    /* --ui-primary: white; */
    /* --ui-text: var(--ui-color-neutral-200); */
    /* --ui-text-toned: var(--ui-color-neutral-200) */

    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--ui-color-neutral-900);
  }

  @media (width < theme(--breakpoint-md)) {
    --container-pad: calc(8 * var(--spacing));
  }

  @media (width < theme(--breakpoint-sm)) {
    --container-pad: calc(6 * var(--spacing));
  } 

}

html {
  scrollbar-gutter: stable;
}
