@import 'tailwindcss';
@import '@nuxt/ui';

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  width: min(1400px, 100% - 2 * var(--container-pad));
  margin-inline: auto;

  max-width: none;
}

@utility auth-container {
  width: min(var(--container-sm), 100% - 2 * var(--container-pad));
  margin-inline: auto;
}

@theme {
  --font-sans: 'Montserrat', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px;

  --text-heading: 36px;
  --text-heading--line-height: 1.1;
  --text-heading--font-weight: 500;

  --text-subheading: 28px;
  --text-subheading--line-height: 1.2;
  --text-subheading--font-weight: 500;

  --text-base: 18px;
  --text-base--line-height: 1.5;

  --text-sm: 16px;
  --text-sm--line-height: var(--text-base--line-height);

  --text-xs: 14px;
  --text-xs--line-height: var(--text-base--line-height);

  --container-pad: --spacing(10);
  --header-height: --spacing(20);

  --height-full-except-header: calc(100dvh - var(--header-height));

  --transition-duration-fast: 0.2s;
  --transition-duration-base: 0.3s;
  --transition-duration-slow: 0.5s;
  /* --margin-container-pad: var(--container-pad); */
  /* --padding-container-pad: var(--container-pad); */
  --color-primary: var(--ui-color-primary-500);

}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

:root {
  /* --ui-primary: var(--ui-color-primary-500); */
  --ui-text-dimmed: var(--ui-color-neutral-400);
  --ui-text-muted: var(--ui-color-neutral-500);
  --ui-text-toned: var(--ui-color-neutral-700);
  --ui-text: var(--ui-color-neutral-900);
  --ui-text-highlighted: var(--ui-color-neutral-950);
  --ui-text-inverted: var(--color-white);

  @variant dark {
    /* --ui-primary: white; */
    /* --ui-text: var(--ui-color-neutral-200); */
    /* --ui-text-toned: var(--ui-color-neutral-200) */

    --ui-text-dimmed: var(--ui-color-neutral-500);
    --ui-text-muted: var(--ui-color-neutral-400);
    --ui-text-toned: var(--ui-color-neutral-300);
    --ui-text: var(--ui-color-neutral-200);
    --ui-text-highlighted: var(--color-white);
    --ui-text-inverted: var(--ui-color-neutral-900);
  }

  @media (width < theme(--breakpoint-md)) {
    --container-pad: calc(8 * var(--spacing));
    --text-heading: 28px;
    --text-subheading: 22px;
    --text-base: 18px;
    --text-sm: 16px;
    --text-xs: 14px;
  }

  
  @media (width < theme(--breakpoint-sm)) {
    --container-pad: calc(4 * var(--spacing));
    --text-heading: 24px;
    --text-subheading: 20px;
    --text-base: 16px;
    --text-sm: 14px;
    --text-xs: 12px;
  }
}

html {
  scrollbar-gutter: stable;
}
